footer.mdl-mini-footer.transparent.my-footer
  .mdl-mini-footer__left-section
    //.mdl-logo Title
    ul.mdl-mini-footer__link-list
      li
        a(href='#') © Copyright Silvia D'Auria 2017
      //li
        a(href='#') Privacy & Terms