section#passionsBox.mdl-typography--text-center
    
    ul#scene
        - var data_depth = 0.10
        - for(var i=0; i<passions.length; i++)
            //* Random number -> 0 = moveUp 1 = MoveDown */
            - var random = Math.floor(Math.random() * (2))
            li.layer(data-depth= data_depth class = "layer_"+ i)
                - if(random == 0)
                    a.txt-passions(onclick = "AboutMePassions( ' " + passions[i].description + " ' )" class="moveUp" )
                        span.zoomhover
                            = passions[i].name

                - if(random == 1)
                    a.txt-passions(onclick = "AboutMePassions( ' " + passions[i].description + " ' )" class="moveDown" )
                        span.zoomhover
                            = passions[i].name

            - data_depth += 0.30