$transition: 1s;

.fadeIn{
  -webkit-animation: fadein $transition; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein $transition; /* Firefox < 16 */
  -ms-animation: fadein $transition; /* Internet Explorer */
  -o-animation: fadein $transition; /* Opera < 12.1 */
  animation: fadein $transition;
}

@keyframes fadein {
  from{opacity: 0;}
  to{opacity: 1;}
}