/*=================TXT Variables==============*/

$main_txt_color: rgba(255,255,255,0.75);
$passionsHeight: 500px;

$borders_color: $main_txt_color;

$txt_color_header: $main_txt_color;
$txt_color_passions: $main_txt_color;
$txt_color_description: $main_txt_color;

$txt_color_footer: $main_txt_color;

