section#feedbackAboutYou.transparent.fadeIn
    #aboutYouInstruction.description.mdl-typography--text-center.fadeIn
        | Tell me about you. Select 5 items from above that you like most

    #feedbackAboutYou_box.description.mdl-typography--text-center.fadeIn
        | Here the feedback
section
    #PassionsSelected.mdl-grid.mdl-typography--text-center.fadeIn