//=========MENU=========
// Simple header with scrollable tabs.
header.mdl-layout__header.transparent
  .mdl-layout__tab-bar.mdl-js-ripple-effect.transparent
    a#about_me_btn.mdl-layout__tab.is-active(href='#about_me') About Me
    a#about_you_btn.mdl-layout__tab(href='#about_you') About You

include menu_drawer