/*=================TXT Variables==============*/
/* line 1, ../../my_style/style_part/generic_style.scss */
section {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Raleway","Roboto","Helvetica","Arial",sans-serif;
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;
}

/* line 9, ../../my_style/style_part/generic_style.scss */
#gradient {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

/* line 16, ../../my_style/style_part/generic_style.scss */
#page {
  opacity: 0;
}

/* line 20, ../../my_style/style_part/generic_style.scss */
#about_you {
  opacity: 0;
}

/* line 24, ../../my_style/style_part/generic_style.scss */
#passionsBox, #passionsBoxYou {
  width: 100%;
  min-height: 100px;
  height: 450px;
  width: calc(100% - 81px * 2);
  overflow: hidden;
}

/* line 33, ../../my_style/style_part/generic_style.scss */
ul#passionsBox {
  list-style-type: none;
}

/* line 37, ../../my_style/style_part/generic_style.scss */
#feedback, #feedbackAboutYou {
  padding: 25px;
  border-top: 2px solid rgba(255, 255, 255, 0.75);
  width: calc(100% - 81px * 2);
}

/* line 43, ../../my_style/style_part/generic_style.scss */
#feedbackAboutYou {
  border-bottom: 2px solid rgba(255, 255, 255, 0.75);
}

/* line 47, ../../my_style/style_part/generic_style.scss */
#feedback_box {
  font-size: 40px;
  line-height: 0.9;
  width: 100%;
}

/* line 53, ../../my_style/style_part/generic_style.scss */
#feedbackAboutYou_box, #aboutYouInstruction {
  width: 100%;
  font-size: 28px;
  line-height: 1;
}

/* line 59, ../../my_style/style_part/generic_style.scss */
#feedbackAboutYou_box {
  display: none;
}

/* line 63, ../../my_style/style_part/generic_style.scss */
.transparent {
  background: none;
  box-shadow: none;
}

/* line 68, ../../my_style/style_part/generic_style.scss */
.my-footer {
  color: rgba(255, 255, 255, 0.75);
  height: 30px;
  padding: 16px;
  padding-left: 55px;
}

/* line 75, ../../my_style/style_part/generic_style.scss */
.selected {
  opacity: 0.25;
}

/* line 79, ../../my_style/style_part/generic_style.scss */
.addedInBox {
  font-size: 26px;
  margin: 0 auto;
  margin-bottom: 15px;
  cursor: pointer;
}

/* line 1, ../../my_style/style_part/side_panel.scss */
.portfolio_drawer {
  width: 270px;
  transform: translateX(-270px);
}

/* line 6, ../../my_style/style_part/side_panel.scss */
.portfolio_drawer a {
  padding: 16px 20px !important;
}

/* line 10, ../../my_style/style_part/side_panel.scss */
.portfolio_drawer span {
  padding: 16px 20px !important;
}

/* line 14, ../../my_style/style_part/side_panel.scss */
.portfolio_drawer img {
  width: 170px !important;
  margin: 10px auto !important;
}

/* line 19, ../../my_style/style_part/side_panel.scss */
.mdl-layout__drawer-button {
  opacity: 0.5;
  margin: 0;
}

/* ================ VARIABLES ================*/
/* ================== MIXINS =================*/
/*================================================================
Default Styles
================================================================*/
/* line 22, ../../my_style/style_part/parallax.scss */
.scene {
  padding: 0;
  margin: 0;
}

/*================================================================
Starry Sky
Trick created by Andrey https://www.script-tutorials.com/night-sky-with-twinkling-stars/
================================================================*/
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
/* line 50, ../../my_style/style_part/parallax.scss */
.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

/*================================================================
Animation - Move Up and Move Down Letters
================================================================*/
/*================================================================
Move Up
================================================================*/
@keyframes moveUp {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(0px, 10px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
}
@-webkit-keyframes moveUp {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(0px, 10px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
}
@-moz-keyframes moveUp {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(0px, 10px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
}
@-ms-keyframes moveUp {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(0px, 10px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
}
/* line 132, ../../my_style/style_part/parallax.scss */
.moveUp {
  animation: moveUp 2s infinite;
}

/*================================================================
Move Down
================================================================*/
@keyframes moveDown {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(0px, -10px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
}
@-webkit-keyframes moveDown {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(0px, -10px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
}
@-moz-keyframes moveDown {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(0px, -10px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
}
@-ms-keyframes moveDown {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(0px, -10px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
}
/* line 203, ../../my_style/style_part/parallax.scss */
.moveDown {
  animation: moveDown 2s infinite;
}

/*================================================================
PARALLAX
================================================================*/
/* line 209, ../../my_style/style_part/parallax.scss */
ul#scene {
  list-style-type: none;
}

/* line 213, ../../my_style/style_part/parallax.scss */
.layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  opacity: 0.75;
}

/* line 223, ../../my_style/style_part/parallax.scss */
.zoomhover {
  transition: all .2s ease-in-out;
}

/* line 227, ../../my_style/style_part/parallax.scss */
.zoomhover:hover {
  cursor: pointer;
  font-size: 72px;
}

/* line 232, ../../my_style/style_part/parallax.scss */
li.layer a {
  text-decoration: none;
  display: block;
  width: 0;
}

/* ===== CUSTOM ANIMATION FOR EACH PASSION =====*/
/* line 242, ../../my_style/style_part/parallax.scss */
li.layer:nth-child(0) a {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  text-align: center;
  width: 0;
  position: absolute;
  z-index: 0;
  margin-top: 0;
  margin-left: 40%;
  font-size: 36px;
}

/* line 242, ../../my_style/style_part/parallax.scss */
li.layer:nth-child(1) a {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  text-align: center;
  width: 0;
  position: absolute;
  z-index: 0;
  margin-top: 200px;
  margin-left: 20%;
  font-size: 48px;
}

/* line 242, ../../my_style/style_part/parallax.scss */
li.layer:nth-child(2) a {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  text-align: center;
  width: 0;
  position: absolute;
  z-index: 0;
  margin-top: 20px;
  margin-left: 30%;
  font-size: 54px;
}

/* line 242, ../../my_style/style_part/parallax.scss */
li.layer:nth-child(3) a {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  text-align: center;
  width: 0;
  position: absolute;
  z-index: 0;
  margin-top: 50px;
  margin-left: 60%;
  font-size: 36px;
}

/* line 242, ../../my_style/style_part/parallax.scss */
li.layer:nth-child(4) a {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  text-align: center;
  width: 0;
  position: absolute;
  z-index: 0;
  margin-top: 0;
  margin-left: 10%;
  font-size: 48px;
}

/* line 242, ../../my_style/style_part/parallax.scss */
li.layer:nth-child(5) a {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  text-align: center;
  width: 0;
  position: absolute;
  z-index: 0;
}

/* line 242, ../../my_style/style_part/parallax.scss */
li.layer:nth-child(6) a {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  text-align: center;
  width: 0;
  position: absolute;
  z-index: 0;
}

/* line 242, ../../my_style/style_part/parallax.scss */
li.layer:nth-child(7) a {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  text-align: center;
  width: 0;
  position: absolute;
  z-index: 0;
}

/* line 242, ../../my_style/style_part/parallax.scss */
li.layer:nth-child(8) a {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  text-align: center;
  width: 0;
  position: absolute;
  z-index: 0;
}

/* line 242, ../../my_style/style_part/parallax.scss */
li.layer:nth-child(9) a {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  text-align: center;
  width: 0;
  position: absolute;
  z-index: 0;
}

/* line 242, ../../my_style/style_part/parallax.scss */
li.layer:nth-child(10) a {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  text-align: center;
  width: 0;
  position: absolute;
  z-index: 0;
}

/* line 3, ../../my_style/style_part/animations.scss */
.fadeIn {
  -webkit-animation: fadein 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s;
  /* Firefox < 16 */
  -ms-animation: fadein 1s;
  /* Internet Explorer */
  -o-animation: fadein 1s;
  /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
