doctype html
html(lang='')
  include partials/generic/head
  body.main
    #gradient.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      include partials/about_you/header-tabs-about_you
      main.mdl-layout__content
        .page-content
          include partials/generic/passionsBox

          section#feedback_box.transparent.description  
            = author.description

      include partials/generic/footer

    include partials/generic/scripts
