doctype html
html(lang='')
  include partials/head
  body#gradient.main
    #page.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      include partials/header-tabs
      main.mdl-layout__content
        .page-content
          include partials/about_me

          include partials/about_you

      include partials/footer

    include partials/scripts
