doctype html
html(lang='')
  include partials/generic/head
  body.main
    #gradient.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      include partials/generic/header-tabs
      main.mdl-layout__content
        .page-content
          include partials/generic/about_me

          include partials/generic/about_you

      include partials/generic/footer

    include partials/generic/scripts
