/*
Error: Undefined variable: "$passionsHeight".
        on line 219 of ../app/styles/my_style/style_part/parallax.scss

214: $costant-bottom: 25;
215: 
216: $max_animation: 15;
217: $maxColumns: 5;
218: 
219: $rangeLine: round($passionsHeight / ( round($max_animation / $maxColumns) ));
220: $rangeColumn: round(100% / $maxColumns );
221: $line: 0; 
222: 
223: //$passionsHeight
224: 

Backtrace:
../app/styles/my_style/style_part/parallax.scss:219
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/script/tree/variable.rb:49:in `_perform'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/script/tree/node.rb:58:in `perform'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/script/tree/operation.rb:64:in `_perform'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/script/tree/node.rb:58:in `perform'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/script/tree/funcall.rb:173:in `perform_arg'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/script/tree/funcall.rb:124:in `block in _perform'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/script/tree/funcall.rb:124:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/script/tree/funcall.rb:124:in `each_with_index'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/script/tree/funcall.rb:124:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/script/tree/funcall.rb:124:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/script/tree/funcall.rb:124:in `_perform'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/script/tree/node.rb:58:in `perform'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:471:in `visit_variable'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/engine.rb:281:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:400:in `run'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$passionsHeight\".\A         on line 219 of ../app/styles/my_style/style_part/parallax.scss\A \A 214: $costant-bottom: 25;\A 215: \A 216: $max_animation: 15;\A 217: $maxColumns: 5;\A 218: \A 219: $rangeLine: round($passionsHeight / ( round($max_animation / $maxColumns) ));\A 220: $rangeColumn: round(100% / $maxColumns );\A 221: $line: 0; \A 222: \A 223: //$passionsHeight\A 224: "; }
