/* line 1, ../../../my_style/style_part/side_panel.scss */
.portfolio_drawer {
  width: 270px;
  transform: translateX(-270px);
}

/* line 6, ../../../my_style/style_part/side_panel.scss */
.portfolio_drawer a {
  padding: 16px 20px !important;
}

/* line 10, ../../../my_style/style_part/side_panel.scss */
.portfolio_drawer span {
  padding: 16px 20px !important;
}

/* line 14, ../../../my_style/style_part/side_panel.scss */
.portfolio_drawer img {
  width: 170px !important;
  margin: 10px auto !important;
}
